
.spinner {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 6px;
  background:
    conic-gradient(from 135deg at top,currentColor 90deg, #0000 0) 0 calc(50% - 2px)/17px 5.5px,
    radial-gradient(farthest-side at bottom left,#0000 calc(100% - 3px),currentColor calc(100% - 2px) 99%,#0000) top right/50%  50% content-box content-box,
    radial-gradient(farthest-side at top        ,#0000 calc(100% - 3px),currentColor calc(100% - 2px) 99%,#0000) bottom   /100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: s1 1s infinite linear;
}

@keyframes s1{ 
  100%{transform: rotate(1turn)}
}
